Importing all the packages required.

In [1]:
import pandas as pd
import numpy as np
import mysql.connector
import json,re

Loading the Json file.

In [2]:
with open("sample_data_for_assignment.json",'r',encoding='utf-8') as json_data:
# content = f.read()
    json_data = json.load(json_data)

col = json_data['cols']
data = json_data['data']

# col
# data

In [3]:
columns = ""

for i in col[:len(col)-1]:
    columns+=i + " VARCHAR(255),"

columns+=col[-1]+" VARCHAR(255)"

columns

'name VARCHAR(255),phone VARCHAR(255),email VARCHAR(255),address VARCHAR(255),region VARCHAR(255),country VARCHAR(255),list VARCHAR(255),postalZip VARCHAR(255),currency VARCHAR(255)'

Creating table into  database and loading records into it.

In [4]:
db = mysql.connector.connect(host='localhost',user='root',passwd='',database='data_manipulation')
db_cursor = db.cursor()
db_cursor.execute("drop table if exists json_to_sql_table")
db_cursor.execute("create table json_to_sql_table("+columns+")")
db.commit()

for i in data:
    db_cursor.execute("insert into json_to_sql_table values(%s,%s,%s,%s,%s,%s,%s,%s,%s)",i)
    db.commit()

1. Unload the data from MySQL to pandas dataframe.

In [5]:
db_cursor.execute("SELECT * FROM json_to_sql_table")
rows = db_cursor.fetchall()
db_cursor.close()
df = pd.DataFrame(rows)
df

,0,1,2,3,4,5,6,7,8
0,Winifred Branch,1-251-583-4993,in.mi@protonmail.com,Ap #530-5652 Arcu. Rd.,Rio de Janeiro,Nigeria,19,66242-403,$14.59
1,Brielle Davidson,1-632-583-7386,venenatis.lacus@hotmail.ca,Ap #630-7765 Molestie Avenue,Aisén,Australia,13,18317,$56.16
2,Summer Mcfadden,1-716-949-4663,orci.in@yahoo.com,"P.O. Box 410, 6638 Sed Avenue",Biobío,Belgium,3,85K 8W1,$36.45
3,Geoffrey Long,(116) 475-4598,placerat.eget.venenatis@protonmail.edu,783-9358 Aliquet Street,North Sulawesi,United States,1,28826,$69.58
4,Barry Conner,(491) 267-4372,lorem@hotmail.com,795 Mauris Rd.,Vaupés,China,7,335049,$77.68
...,...,...,...,...,...,...,...,...,...
495,Adrian Rodriquez,1-425-958-2315,non.quam.pellentesque@hotmail.net,107-4830 Lobortis Avenue,Noord Brabant,Russian Federation,1,49343,$90.17
496,Sonia Lamb,1-814-767-3340,suscipit.est@yahoo.com,8062 Lectus St.,Kurgan Oblast,Sweden,9,393741,$56.21
497,Kylee Silva,1-196-572-3426,nibh.lacinia@icloud.ca,Ap #336-1000 Diam Street,Drenthe,Vietnam,5,70801,$63.16
498,Jeanette Todd,1-384-486-3954,nunc@google.net,Ap #680-5749 Neque Avenue,Chandigarh,Ireland,9,3765 TK,$43.01
499,Gil Hawkins,1-111-596-3530,luctus@icloud.net,844-2805 A St.,Atacama,Colombia,3,651193,$22.87

2. Write a program to display all data under their respective column name as a pandas
dataframe

In [6]:
df = pd.DataFrame(rows,columns=col)
df

,name,phone,email,address,region,country,list,postalZip,currency
0,Winifred Branch,1-251-583-4993,in.mi@protonmail.com,Ap #530-5652 Arcu. Rd.,Rio de Janeiro,Nigeria,19,66242-403,$14.59
1,Brielle Davidson,1-632-583-7386,venenatis.lacus@hotmail.ca,Ap #630-7765 Molestie Avenue,Aisén,Australia,13,18317,$56.16
2,Summer Mcfadden,1-716-949-4663,orci.in@yahoo.com,"P.O. Box 410, 6638 Sed Avenue",Biobío,Belgium,3,85K 8W1,$36.45
3,Geoffrey Long,(116) 475-4598,placerat.eget.venenatis@protonmail.edu,783-9358 Aliquet Street,North Sulawesi,United States,1,28826,$69.58
4,Barry Conner,(491) 267-4372,lorem@hotmail.com,795 Mauris Rd.,Vaupés,China,7,335049,$77.68
...,...,...,...,...,...,...,...,...,...
495,Adrian Rodriquez,1-425-958-2315,non.quam.pellentesque@hotmail.net,107-4830 Lobortis Avenue,Noord Brabant,Russian Federation,1,49343,$90.17
496,Sonia Lamb,1-814-767-3340,suscipit.est@yahoo.com,8062 Lectus St.,Kurgan Oblast,Sweden,9,393741,$56.21
497,Kylee Silva,1-196-572-3426,nibh.lacinia@icloud.ca,Ap #336-1000 Diam Street,Drenthe,Vietnam,5,70801,$63.16
498,Jeanette Todd,1-384-486-3954,nunc@google.net,Ap #680-5749 Neque Avenue,Chandigarh,Ireland,9,3765 TK,$43.01
499,Gil Hawkins,1-111-596-3530,luctus@icloud.net,844-2805 A St.,Atacama,Colombia,3,651193,$22.87

3. Write a program to change all email address to have the format -
   "abc@gmail.com (note the ending should be gmail.com)"

In [7]:
mail = df['email']

am = []
for i in mail:
    ls = i.split("@")
    i = ls[0]+"@gmail.com"
    am.append(i)
    
df['email'] = am
df

,name,phone,email,address,region,country,list,postalZip,currency
0,Winifred Branch,1-251-583-4993,in.mi@gmail.com,Ap #530-5652 Arcu. Rd.,Rio de Janeiro,Nigeria,19,66242-403,$14.59
1,Brielle Davidson,1-632-583-7386,venenatis.lacus@gmail.com,Ap #630-7765 Molestie Avenue,Aisén,Australia,13,18317,$56.16
2,Summer Mcfadden,1-716-949-4663,orci.in@gmail.com,"P.O. Box 410, 6638 Sed Avenue",Biobío,Belgium,3,85K 8W1,$36.45
3,Geoffrey Long,(116) 475-4598,placerat.eget.venenatis@gmail.com,783-9358 Aliquet Street,North Sulawesi,United States,1,28826,$69.58
4,Barry Conner,(491) 267-4372,lorem@gmail.com,795 Mauris Rd.,Vaupés,China,7,335049,$77.68
...,...,...,...,...,...,...,...,...,...
495,Adrian Rodriquez,1-425-958-2315,non.quam.pellentesque@gmail.com,107-4830 Lobortis Avenue,Noord Brabant,Russian Federation,1,49343,$90.17
496,Sonia Lamb,1-814-767-3340,suscipit.est@gmail.com,8062 Lectus St.,Kurgan Oblast,Sweden,9,393741,$56.21
497,Kylee Silva,1-196-572-3426,nibh.lacinia@gmail.com,Ap #336-1000 Diam Street,Drenthe,Vietnam,5,70801,$63.16
498,Jeanette Todd,1-384-486-3954,nunc@gmail.com,Ap #680-5749 Neque Avenue,Chandigarh,Ireland,9,3765 TK,$43.01
499,Gil Hawkins,1-111-596-3530,luctus@gmail.com,844-2805 A St.,Atacama,Colombia,3,651193,$22.87

4. The values for "postalZip" doesn't have same type of data (some are string, some are int, some are alpha numeric). Write a program to convert all values to int. In case of alpha numeric remove the letters and keep only the numbers and convert it to int.

In [8]:
df['postalZip'] = df['postalZip'].str.replace('[^0-9]',"")
df['postalZip'] = df['postalZip'].astype(np.int64)
print(df['postalZip'])

0      66242403
1         18317
2          8581
3         28826
4        335049
         ...
495       49343
496      393741
497       70801
498        3765
499      651193
Name: postalZip, Length: 500, dtype: int64

C:\Users\patel\AppData\Local\Temp\ipykernel_74664\2883554200.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['postalZip'] = df['postalZip'].str.replace('[^0-9]',"")

5. write a separate function which take input data as values under the column name "phone"
and processes it to return equivalent ASCII char of the value taken 2 at a time from left to right. Considering the value should be in between 65 to 99. If two-digit number is less than 65 replace it with O (O for Orange)

In [9]:

def to_ascii_helper(phn):
    phn = re.sub('[^0-9]',"",phn)
    #print (phn)
    res = ""
    if len(phn) < 10:  
        for i in range(1,len(phn),2):
            pair = int(phn[i-1]+phn[i])

            if pair <65:
                res+='O'
            else:
                res+=chr(pair)
    else:
        for i in range(1,len(phn)-1,2):
            pair = int(phn[i-1]+phn[i])

            if pair <65:
                res+='O'
            else:
                res+=chr(pair)

    return res 

 
def to_ascii():
    for i in range(len(df)):
        df.loc[i, 'phone'] = to_ascii_helper(df.loc[i,'phone'])
        
    df.rename(columns = {'phone':'coded_phone_number'}, inplace = True)
    # print(df['phone'])

to_ascii()

df

,name,coded_phone_number,email,address,region,country,list,postalZip,currency
0,Winifred Branch,OOOOc,in.mi@gmail.com,Ap #530-5652 Arcu. Rd.,Rio de Janeiro,Nigeria,19,66242403,$14.59
1,Brielle Davidson,OOOOO,venenatis.lacus@gmail.com,Ap #630-7765 Molestie Avenue,Aisén,Australia,13,18317,$56.16
2,Summer Mcfadden,OO^^B,orci.in@gmail.com,"P.O. Box 410, 6638 Sed Avenue",Biobío,Belgium,3,8581,$36.45
3,Geoffrey Long,OOKO,placerat.eget.venenatis@gmail.com,783-9358 Aliquet Street,North Sulawesi,United States,1,28826,$69.58
4,Barry Conner,OOCO,lorem@gmail.com,795 Mauris Rd.,Vaupés,China,7,335049,$77.68
...,...,...,...,...,...,...,...,...,...
495,Adrian Rodriquez,OO_RO,non.quam.pellentesque@gmail.com,107-4830 Lobortis Avenue,Noord Brabant,Russian Federation,1,49343,$90.17
496,Sonia Lamb,OOLIO,suscipit.est@gmail.com,8062 Lectus St.,Kurgan Oblast,Sweden,9,393741,$56.21
497,Kylee Silva,O`OOO,nibh.lacinia@gmail.com,Ap #336-1000 Diam Street,Drenthe,Vietnam,5,70801,$63.16
498,Jeanette Todd,OTOO_,nunc@gmail.com,Ap #680-5749 Neque Avenue,Chandigarh,Ireland,9,3765,$43.01
499,Gil Hawkins,OOOOO,luctus@gmail.com,844-2805 A St.,Atacama,Colombia,3,651193,$22.87